.container {
  font-family: 'JetBrains Mono', monospace;

  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: calc(10px + 0.33vw);
  color: black;
  overflow: hidden;
}
.contents {
  height: 92vh;
  margin: 20px;
  border: 2px solid black;
  font-size: 1.05rem;

  display: flex;
  flex-direction: row;
}

.index {
  flex: 1;
}
.hero {
  flex: 4;
  overflow-y: scroll;
  padding: 30px;
  letter-spacing: 0.3px;
}
.go {
  color: var(--text-primary);
  text-decoration: none;
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;

  width: 100%;
  height: 50px;
  border-bottom: 2px solid black;
}
.back {
  position: relative;
  padding-left: 60px;
}
.go:hover {
  background-color: black;
  color: #ececec;
  cursor: pointer;
}
.back::before {
  content: "<";
  position: absolute;
  top: -4px;
  left: 40px;
  font-size: 1.5rem;
  font-weight: 400;
}
.go::after {
  content: "";
  width: 2px;
  height: 92vh;
  position: absolute;
  top: 0;
  right: 0px;
  background-color: black;
}
.road {
  width: calc(70% - 10px);
  margin: 40px 0 30px 0;
  text-align: left;
  font-size: 0.9rem;
  font-weight: 700;
}
.indexContent {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.piece,
.pieceActive {
  width: 70%;
  text-align: left;
  padding: 10px 0 10px 10px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.piece:hover {
  background-color: black;
  border-radius: 2px;
  color: white;
}
.pieceActive{
  background-color: #3f3f3f;
  border-radius: 2px;
  color: white;
}
.heading{
  padding-bottom: 20px;
}
.aimSection {
  display: flex;
  flex-direction: column;
}
.build {
  width: 400px;
  padding: 70px;
  pointer-events: none;

  animation: bounce 4s infinite alternate-reverse ease-out;
}
@keyframes bounce {
  0% {
    transform: translateY(2px);
  }
}
.aimSection p {
  font-weight: 400;
}
.aimSection p span {
  font-weight: 600;
  font-style: italic;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.where,.what,.aimSection{
  padding: 20px;
  max-width: 800px;
}
.where ul,.what ul{
  padding: 20px 0 0 20px;
}
.where ul li,.what ul li{
  padding-top: 10px;
}
.where ul li span,.what ul li span{
  padding-left: 5px;
  opacity: .6;
  font-size: .9rem;
  font-style: italic;
}
.whereFooter{
  padding-top: 50px;
  opacity: .9;
  font-size: .8rem;
}
.whereFooter p{
  padding: 2px;
}
.whatFooter{
  padding-top: 20px;
}
.goBackMobile{
  display: none;
}
@media (max-width: 420px) {
  .container{
    height: max-content;
  }
  .contents {
    margin: 0;
    border: none;
    flex-direction: column;
  }
  .goBackMobile{
    width: fit-content;
    display: block;
    position: relative;
    margin: 20px 0 0 20px;
    border-bottom: 2px solid #3f3f3f;

    opacity: .5;
    text-decoration: none;
  }
  .goBackMobile::before{
    content: "<";
    padding-right: 5px;
  }
  
  .index{
    display: none;
  }
  .build{
    display: none;
    padding: 0;
    width: 200px;
  }
  .where,.what,.aimSection{
    padding: 20px 0 0 0;
  }
  .hero{
    padding: 20px;
    font-size: 14px;
  }
}
