.grid {
  top: -400px;
  bottom: -400px;
  left: -400px;
  right: -400px;
  position: absolute;
  background-color: transparent;
  background-image: linear-gradient(#55555559 1px, transparent 2px),
    linear-gradient(90deg, #55555559 1px, transparent 2px);
  background-size: 3% 3%, 3% 3%;
  background-position: 0 0, 0 0;
  transform: perspective(300px) rotateX(80deg);
}

.grid {
  -webkit-animation: throughSpace 2s linear;
  animation: throughSpace 2s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@keyframes throughSpace {
  0% {
    transform: perspective(300px) rotateX(80deg) translateY(0%);
  }
  100% {
    transform: perspective(300px) rotateX(80deg) translateY(5.8%);
  }
}
